<div class="container mt-5">
    <div class="row">
        <div class="col-lg-22 offset-lg-0">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo-e1">Innovando Juntos</span>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Ciudad</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Área de interés</th>
                            <th scope="col">Hora registro</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                      </table>
                      
                </div>
            </div>
        <div class="mt-5">
          <div class="card">
            <div class="card-body text-center">
                <span class="titulo-e1">Conectando Personas</span>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Área de interés</th>
                        <th scope="col">Hora registro</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"></th>
                        <td>Arturo</td>
                        <td>Perez</td>
                        <td>25</td>
                        <td>Masculino</td>
                        <td>arturoperez@gmail.com</td>
                        <td>+52 417 128 9083</td>
                        <td>Celaya</td>
                        <td>Recursos humanos</td>
                        <td>Tecnologia</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>Justin</td>
                        <td>Moncada</td>
                        <td>21</td>
                        <td>Femenino</td>
                        <td>justin35mon@gmail.com</td>
                        <td>+52 417 298 3468</td>
                        <td>Leon</td>
                        <td>Analista financiero</td>
                        <td>Emprendimiento</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>Carlos</td>
                        <td>Martinez</td>
                        <td>20</td>
                        <td>Masculino</td>
                        <td>carlosmartz34@gmail.com</td>
                        <td>+52 461 783 0937</td>
                        <td>San Miguel de Allende</td>
                        <td>Desarrollador</td>
                        <td>Tecnologia</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>Maria</td>
                        <td>Gonzales</td>
                        <td>24</td>
                        <td>Femenino</td>
                        <td>margonz56@gmail.com</td>
                        <td>+52 478 293 4392</td>
                        <td>Dolores Hidalgo</td>
                        <td>Jefe de ventas</td>
                        <td>Sostenibilidad</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>Monserrat</td>
                        <td>Cano</td>
                        <td>21</td>
                        <td>Femenino</td>
                        <td>monse34cano@gmail.com</td>
                        <td>+52 421 349 4329</td>
                        <td>Queretaro</td>
                        <td>Gerente</td>
                        <td>Creatividad</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  
            </div>
        </div>
        </div>
        <div class="mt-5">
          <div class="card">
            <div class="card-body text-center">
                <span class="titulo-e1">Cumbre del Liderazgo</span>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Área de interés</th>
                        <th scope="col">Hora registro</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                  
            </div>
        </div>
        </div>
        <div class="mt-5">
          <div class="card">
            <div class="card-body text-center">
                <span class="titulo-e1">Excelencia Empresarial</span>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Área de interés</th>
                        <th scope="col">Hora registro</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"></th>
                        <td>Jesus</td>
                        <td>Manzano</td>
                        <td>23</td>
                        <td>Masculino</td>
                        <td>manzanoj23@gmail.com</td>
                        <td>+52 445 239 4434</td>
                        <td>Queretaro</td>
                        <td>Desarrollador</td>
                        <td>Creatividad</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>Mariana</td>
                        <td>Rosales</td>
                        <td>24</td>
                        <td>Femenino</td>
                        <td>mariana67@gmail.com</td>
                        <td>+52 465 693 3456</td>
                        <td>Dolores Hidalgo</td>
                        <td>Recursos humanos</td>
                        <td>Sostenibilidad</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>Lucas</td>
                        <td>Rodriguez</td>
                        <td>26</td>
                        <td>Masculino</td>
                        <td>lucas23@gmail.com</td>
                        <td>+52 467 899 8312</td>
                        <td>San Miguel de Allende</td>
                        <td>Jefe de ventas</td>
                        <td>Emprendimiento</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>Jorge</td>
                        <td>Ramirez</td>
                        <td>25</td>
                        <td>Masculino</td>
                        <td>jorger14@gmail.com</td>
                        <td>+52 441 342 9320</td>
                        <td>Leon</td>
                        <td>Analista financiero</td>
                        <td>Sostenibilidad</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th scope="row"></th>
                        <td>Elizabeth</td>
                        <td>Diaz</td>
                        <td>22</td>
                        <td>Femenino</td>
                        <td>eli45diaz@gmail.com</td>
                        <td>+52 492 902 0238</td>
                        <td>Queretaro</td>
                        <td>Gerente</td>
                        <td>Desarrollo personal</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                  
            </div>
        </div>
        </div>
        <div class="mt-5">
          <div class="card">
            <div class="card-body text-center">
                <span class="titulo-e1">Foro de Sostenibilidad</span>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Área de interés</th>
                        <th scope="col">Hora registro</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                  <button routerLink="/" class="btn btn-secondary float-end">Volver</button>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>